*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 80px;
}

#t1{
    color: red;
}

#o1{
   color: orange; 
}

#d{
    color: yellow;
}

#o2{
    color: green;
}

#l{
    color: blue;
}

#i{
    color: blueviolet;
}

#s{
    color: pink;
}

#t2{
    color: purple;
}

.todolist{
    text-align: center;
    margin-top: 15%;
}

.sign{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
}

input{
    height: 20px;
    display: block;
    margin: 20px auto;
}

button{
    background-color: blue;
    color: white;
    border: 0px;
    padding: 7px;
}